In [1]:
import pandas as pd

In [34]:
df_all = pd.read_csv(".\\all.csv")
df_all = df_all[["Elapsed_Time", "LatRsv_tg1", "LngRsv_tg1"]]

df_camera = pd.read_csv("camera.csv")

df_vbox = pd.read_csv("vbox.csv")

df_statics = pd.DataFrame()
df_statics["Elapsed_Time"] = list(range(len(df_all)))

In [32]:
df_all = df_all[["Elapsed_Time", "LatRsv_tg1", "LngRsv_tg1"]]

In [33]:
df_all

       Elapsed_Time  LatRsv_tg1  LngRsv_tg1
0                 0    0.432810  -30.058090
1                 1    0.432810  -30.058090
2                 2    0.432810  -30.058090
3                 3    0.432810  -30.058090
4                 4    0.432810  -30.058090
...             ...         ...         ...
37093         37093    0.270773   -1.413025
37094         37094    0.270773   -1.413025
37095         37095    0.270773   -1.413025
37096         37096    0.270773   -1.413025
37097         37097    0.270773   -1.413025

[37098 rows x 3 columns]

In [35]:
df_statics

       Elapsed_Time
0                 0
1                 1
2                 2
3                 3
4                 4
...             ...
37093         37093
37094         37094
37095         37095
37096         37096
37097         37097

[37098 rows x 1 columns]

In [20]:
df_camera["Elapsed_Time"] = df_camera["Elapsed_Time"] -67
df_camera

     Unnamed: 0  Elapsed_Time  RCMRDEPLOC1  RCMRDEPLOC3  dist_camera
0             0        2300.0        12.75         6.00         6.00
1             1        2400.0        12.75         6.00         6.00
2             2        2500.0        12.75         6.00         6.00
3             3        2600.0        12.75         6.05         6.05
4             4        2700.0        12.75         6.05         6.05
..          ...           ...          ...          ...          ...
193         193       21600.0        12.75         0.40         0.40
194         194       21700.0        12.75         0.40         0.40
195         195       21800.0        12.75         0.40         0.40
196         196       21900.0        12.75         0.40         0.40
197         197       22000.0        12.75         0.40         0.40

[198 rows x 5 columns]

In [36]:
df_statics = pd.merge(df_statics, df_vbox, on='Elapsed_Time', how='outer')

In [43]:
df_statics = df_statics.ffill()
df_statics.head(11)

    Elapsed_Time  Unnamed: 0  LngRsv_tg1  vbox_dist  smoothing
0              0         0.0   -30.05809  -30.05809  -30.05809
1              1         0.0   -30.05809  -30.05809  -30.05809
2              2         0.0   -30.05809  -30.05809  -30.05809
3              3         0.0   -30.05809  -30.05809  -30.05809
4              4         0.0   -30.05809  -30.05809  -30.05809
5              5         0.0   -30.05809  -30.05809  -30.05809
6              6         0.0   -30.05809  -30.05809  -30.05809
7              7         0.0   -30.05809  -30.05809  -30.05809
8              8         0.0   -30.05809  -30.05809  -30.05809
9              9         0.0   -30.05809  -30.05809  -30.05809
10            10         1.0   -30.05860  -30.05860  -30.05860

In [13]:
merged_df = pd.merge(df_all, df_camera, on='Elapsed_Time', how='inner')

In [21]:
merged_df["diff"] = merged_df["dist_camera"] - -1*merged_df["LngRsv_tg1"]

In [22]:
merged_df

,Elapsed_Time,LatRsv_tg1,LngRsv_tg1,Unnamed: 0,RCMRDEPLOC1,RCMRDEPLOC3,dist_camera,diff
0,2408,-0.024137,-5.995813,0,12.75,6.00,6.00,0.004187
1,2508,-0.024891,-5.995851,1,12.75,6.00,6.00,0.004149
2,2608,-0.025359,-5.995579,2,12.75,6.00,6.00,0.004421
3,2708,-0.024653,-5.995176,3,12.75,6.05,6.05,0.054824
4,2808,-0.025265,-5.995205,4,12.75,6.05,6.05,0.054795
...,...,...,...,...,...,...,...,...
193,21708,-0.006309,-0.278909,193,12.75,0.40,0.40,0.121091
194,21808,-0.004949,-0.279219,194,12.75,0.40,0.40,0.120781
195,21908,-0.005503,-0.279349,195,12.75,0.40,0.40,0.120651
196,22008,-0.001099,-0.286604,196,12.75,0.40,0.40,0.113396
197,22108,-0.001935,-0.281759,197,12.75,0.40,0.40,0.118241

In [27]:
filtered_df = merged_df[(merged_df['LngRsv_tg1']*-1 >= 100) & (merged_df['LngRsv_tg1']*-1 <= 200)]

In [44]:
filtered_df["diff"].std()

nan

In [45]:
round(filtered_df["diff"].std(),2)

nan

In [26]:
filtered_df["diff"].std()

0.10868271767299553